@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Permanent+Marker|Patrick+Hand|Kalam');

body {
  
  background-image: url('bg.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: scroll;                  
  background-position: center;
  background-size: cover;
  text-align: center;
  
  
}

h1{
  color: white;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 7em; 
  font-weight: normal;
  
}

h2 {
  color: white;
  font-family: 'Kaushan Script';
  background-color: #96868666;
  
}

h3 {
  color: white;
  font-family: 'Patrick Hand';
  background-color: #96868666;
}

.bttn-block {
  font-family: 'Patrick Hand';
  width: 60%;
  margin: auto;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 35px;
  
}

.input_area {
  margin: auto;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}


.datepicker{
  background: rgba(222, 222, 222, 0.6);
  font-family: Patrick Hand;    
  padding: 20px;
  font-size: 1.5em; 
  margin: auto !important;
  border-color: transparent !important;
  
}

.datepicker--day-name {
  color: darkgrey;
}  

.datepicker--day-names {
  font-weight: 600;
}  

.datepicker--cell.-selected- {
  background: #ff5964;  
}

.datepicker--cell.-selected-.-focus- {
  background: #ff838b;  
}

.datepicker--cell.-current- {
  color: black;
}

.value{
  margin-bottom: 30px;
}

.footer {
  font-family: Kalam;
  font-size: 1em;
  color: white;
  background-color: black;
  position:absolute;
  bottom:0;
  text-align: center;
  width: 100%;
  
}

.-focus- datepicker--days


 text-align: center;
        padding: 25px 30px;
        margin: 50px 0px; 
        font-size: 70px;
        
        outline: none;
        color: white;